<kendo-grid
  [kendoGridBinding]="rows"
  [kendoGridInCellEditing]="createFormGroup"
  [selectable]="selectableSettings"
  kendoGridSelectBy
  [(selectedKeys)]="selectedCells"
  [navigable]="true"
  changeCellFocusWithTab
  inCellEditing
  [(selectedCells)]="selectedCells"
  [inCellEditingFormGroup]="createFormGroup"
  selectingWithShift
  selectingWithMouse
  gridColoring
  #grid
>
  <kendo-grid-column field="id" [hidden]="true"></kendo-grid-column>
  <kendo-grid-column field="accountNumber" [editable]="false">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.accountNumber }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="jan" [class]="'right-align editable-cell'">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.jan }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="feb" [class]="'right-align editable-cell'">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.feb }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="mar" [class]="'right-align editable-cell'">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.mar }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="apr" [class]="'right-align editable-cell'">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.apr }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="may" [class]="'right-align editable-cell'">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.may }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="jun" [class]="'right-align editable-cell'">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.jun }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="jul" [class]="'right-align editable-cell'">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.jul }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="aug" [class]="'right-align editable-cell'">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.aug }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="sep" [class]="'right-align editable-cell'">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.sep }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="oct" [class]="'right-align editable-cell'">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.oct }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="nov" [class]="'right-align editable-cell'">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.nov }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="dec" [class]="'right-align editable-cell'">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.dec }}
      </div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
<button (click)="getGridData()">grid data</button>
<div>selected cells: {{ selectedCells | json }}</div>
<div *ngIf="checkDuplicates()">no duplicates</div>
<div *ngIf="!checkDuplicates()">duplicates</div>
