<kendo-grid
  [kendoGridBinding]="rows"
  [kendoGridInCellEditing]="createFormGroup"
  [selectable]="selectableSettings"
  kendoGridSelectBy
  [(selectedKeys)]="selectedCells"
  changeCellFocusWithTab
  [navigable]="true"
  inCellEditing
  [(selectedCells)]="selectedCells"
  [(multipleSelectRowOffset)]="multipleSelectRowOffset"
  [(multipleSelectColumnOffset)]="multipleSelectColumnOffset"
  [inCellEditingFormGroup]="createFormGroup"
  [(gridData)]="rows"
  selectingWithShift
  #grid
>
  <kendo-grid-column field="accountNumber" [editable]="false">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.accountNumber }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="jan">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.jan }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="feb">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.feb }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="mar">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.mar }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="apr">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.apr }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="may">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.may }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="jun">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.jun }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="jul">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.jul }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="aug">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.aug }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="sep">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.sep }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="oct">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.oct }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="nov">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.nov }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="dec">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="k-grid-ignore-click">
        {{ dataItem.dec }}
      </div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
<button (click)="getGridData()">grid data</button>
<div>selected cells: {{ selectedCells | json }}</div>
<div *ngIf="checkDuplicates()">no duplicates</div>
<div *ngIf="!checkDuplicates()">duplicates</div>
