.k-grid-md .k-grid-edit-row td,
.k-grid-md td,
.k-grid-md .k-table-td,
.k-grid-md .k-grid-edit-row .k-table-td {
  padding: 0;
}

/* if we adjust the cell size, this should be evtl. changed too */
.k-grid-ignore-click {
  padding-block: 8px;
  padding-inline: 12px;
}

/* adjust this padding, if we want smaller, larger cell sizes */
.k-grid-edit-cell input.k-input {
  padding-block: 0px;
  margin-top: 2px;
  margin-left: 1px;
  padding-inline: 8px;
  line-height: 1;
}

.k-grid-edit-cell {
  box-shadow: inset 0 0 0 2px deepskyblue;
}

.k-grid-edit-cell .k-input-solid:focus-within {
  box-shadow: none;
  border-color: transparent;
}

.k-grid-edit-cell input.k-input.k-rounded-md {
  border-radius: 0;
}

.k-grid td:focus,
.k-grid td.k-focus,
.k-grid .k-table-td:focus,
.k-grid .k-table-td.k-focus,
.k-grid .k-master-row > td:focus,
.k-grid .k-master-row > td.k-focus,
.k-grid .k-master-row > .k-table-td:focus,
.k-grid .k-master-row > .k-table-td.k-focus {
  box-shadow: inset 0 0 0 2px deepskyblue;
}

.k-grid .k-grid-edit-row td > input:not([type="checkbox"]):not([type="radio"]),
.k-grid
  .k-grid-edit-row
  .k-table-td
  > input:not([type="checkbox"]):not([type="radio"]) {
  position: relative;
  left: 1px;
  width: 96%;
  padding-left: 9px;
}

.k-grid td.k-selected.k-grid-edit-cell,
.k-grid .k-table-td.k-selected.k-grid-edit-cell {
  background-color: transparent;
}

.k-table-td {
  cursor: pointer;
}

.k-grid .k-table-row,
.k-grid .k-table-tbody > .k-table-row:not(.k-detail-row):hover {
  background-color: #f8f8f8;
}

.k-grid .k-table-row.k-table-alt-row,
.k-grid .k-table-tbody > .k-table-row:not(.k-detail-row).k-table-alt-row:hover {
  background-color: #e8e8e8;
}

.k-grid .k-table-row.calculated,
.k-grid .k-table-tbody > .k-table-row:not(.k-detail-row).calculated:hover {
  background-color: #79ddff;
  color: #1b335a;
  font-weight: bold;
}

.k-grid .k-grid-header {
  border-bottom: 1px solid #12355b;
}

/* .k-grid-header,
.k-grid-header-wrap,
.k-grouping-header,
.k-grid .k-table-th,
.k-grid td,
.k-grid .k-table-td,
.k-grid-footer,
.k-grid-footer-wrap,
.k-grid-content-locked,
.k-grid-footer-locked,
.k-grid-header-locked,
.k-filter-row > .k-table-th,
.k-filter-row > td,
.k-filter-row > .k-table-td {
  border-color: transparent;
} */

.k-table-thead,
.k-table-thead .k-table-row {
  background-color: #12355b;
  color: white;
  font-weight: bold;
  line-height: 1.4;
}

.k-table-md {
  line-height: 0.5;
}
